.item {
  text-align: start;
}
.thumb {
  display: flex;
  align-items: center;
  flex-direction: wrap;
}
.title {
  margin-right: auto;
}
.accentText {
  font-weight: 600;
  font-style: italic;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 8px;

  max-height: 20px;
}

.btn {
  /* max-width: 100px; */
}
